
.steps-indicator li.default a
  color: #FFFFFF !important

.steps-indicator li.default a:hover
  color: #FFFFFF !important


.steps-indicator li.current a
  color: #FFFFFF !important

  &:before
    background-color: #FFFFFF !important


.steps-indicator li.done a
  color: #FFFFFF !important

  &:before
    background-color: #339933 !important


.steps-indicator li.editing a
  color: #FFFFFF !important

  &:before
    background-color: blue !important
