
<div class="animated fadeIn">

  <div class="top-menu-buttons-container panel panel-default">
    <div class="panel-body">
      <md-button ng-click="toogleLeftNav()" class="md-fab md-button md-cyan-theme">
        Menu
      </md-button>

      <md-button class="md-fab md-button md-cyan-theme" aria-label="Edit">
        <span class="glyphicon glyphicon-eye-open"></span>
      </md-button>
    </div>
  </div>


  <div class="row panel panel-default edit-wizard-container">

    <!-- Editor -->
    <div class="panel-body">
      <div class="col-md-6 ">
        <h3 class="text-center">Markdown Editor</h3>
        <div ui-ace="{theme:'monokai', mode: 'markdown'}" ng-model="step.description"></div>
      </div>

      <!-- Markdown Preview -->
      <div class="col-md-6 ">
        <h3 class="text-center">Preview</h3>
        <div btf-markdown="step.description"></div>
      </div>

    </div>
  </div>

  <!-- Side Bar -->
  <md-sidenav md-component-id="left-nav" class="md-sidenav-left">

    <h3 class="text-center" ng-bind="action.name"></h3>

    <ul>
      <li ng-repeat="step in steps">
        <span ng-bind="$index + 1"></span> - <span ng-bind="step.name"></span>
      </li>
    </ul>

  </md-sidenav>

</div>