
<div class="animated fadeIn">

  <!-- Barra Principal -->
  <!-- <header main-bar has-menu="true"></header> -->


  <!-- Cover Image -->
  <div id="team-img"></div>

  <div class="well">
    <md-button ng-click="toogleLeftNav()" class="md-fab md-button md-cyan-theme">
      Menu
    </md-button>

    <md-button class="md-fab md-button md-cyan-theme"  ng-click="editCurrentStep()">
      <span class="glyphicon glyphicon-pencil"></span>
    </md-button>
  </div>


  <div class="screen-content">

    <wizard hide-indicators="true" current-step="currentStep" name="step-wizard">
      <wz-step ng-repeat="step in steps" title="{{step.name}}" >


        <md-button wz-previous class="md-fab md-button md-cyan-theme wizard-arrow">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </md-button>

        <md-button wz-next class="md-fab md-button md-cyan-theme wizard-arrow">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </md-button>

        <div class="row margin-top-default">
          <div class="col-md-12 col-sm-12 panel panel-default">

            <md-checkbox ng-model="step.done" aria-label="{{step.name}}">
              <h2 ng-bind="step.name"> </h2>
            </md-checkbox>

            <div btf-markdown="step.description"></div>
          </div>
        </div>
      </wz-step>

    </wizard>


  </div>

  <!-- Side Bar -->
  <md-sidenav md-component-id="left-nav" class="md-sidenav-left">

    <h3 class="text-center" ng-bind="action.name"></h3>

    <ul>
      <li ng-repeat="step in steps">
        <span ng-bind="$index + 1"></span> - <span ng-bind="step.name"></span>
      </li>
    </ul>

  </md-sidenav>

</div>