
<div class="animated fadeIn">

  <!-- Barra Principal -->
  <!-- <header main-bar has-menu="true"></header> -->


  <!-- Cover Image -->
  <div id="team-img"></div>

  <div class="top-menu-buttons-container panel panel-default">
    <div class="panel-body">
      <md-button ng-click="toogleLeftNav()" class="md-fab md-button md-cyan-theme">
        Menu
      </md-button>

      <md-button class="md-fab md-button md-cyan-theme"  ng-click="editCurrentStep()">
        <span class="glyphicon glyphicon-pencil"></span>
      </md-button>
    </div>
  </div>


  <div class="screen-content">
    <div ui-view="wizard"></div>
  </div>

  <!-- Side Bar -->
  <md-sidenav md-component-id="left-nav" class="md-sidenav-left">

    <h3 class="text-center" ng-bind="action.name"></h3>

    <ul>
      <li ng-repeat="step in steps">
        <span ng-bind="$index + 1"></span> - <span ng-bind="step.name"></span>
      </li>
    </ul>

  </md-sidenav>

</div>