<div id="list-tool-screen" class="app-view animated fadeIn">

  <md-button class="md-fab md-primary md-hue-2 add-feature-button" aria-label="Create new team" ng-click="openFormDialog()">
    <span class="glyphicon glyphicon-plus"></span>
  </md-button>


  <!-- Cover Image -->
  <!-- <div id="team-img"></div> -->

  <!-- Conteúdo -->
  <div class="screen-content">

    <!-- List -->
    <div list-features
      list="tools"
      on-click-item="onClickItem"
      on-click-settings="showSettings"
      on-click-edit-button="openFormDialog"
      on-click-delete-button="showDeleteDialog"></div>
    <div ui-view="form-view"></div>

  </div>
</div>
